h1, p {
  font-family:'Zilla Slab';
}

.prose {
  font-family:'Zilla Slab';
}

.container-fluid.flex-container {
  display:flex;
  justify-content:center;
}

.navbar-light .navbar-toggler {
  color:#ffffff;
  border-color:#ffffff;
}

